* {
    margin: 0px;
    box-sizing: border-box;
}


/*====================================*/
/*===============BASE===========)=====*/
/*====================================*/

body {
    background-image: url(../elements/img/fond_body.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    padding-bottom: 30px;
    font-size: 30px;
    color: deeppink;
}

section {
    margin-top: 50px;
}

img:active {
    width: 375px;
    height: 338px;
}

button {
    background-color: lightblue !important;
    border: 0px !important;
    color: steelblue!important;
}

button p {
    font-size: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}