* {
    margin: 0px;
    box-sizing: border-box;
}


/*====================================*/
/*===============BASE===========)=====*/
/*====================================*/

body {
    background-image: url(../elements/img/fond_body.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    padding-bottom: 30px;
    font-size: 30px;
    color: deeppink;
}

section {
    margin-top: 50px;
}


/*====================================*/
/*===============IMAGES===============*/
/*====================================*/

img:hover {
    cursor: pointer;
}

img:active {
    width: 375px;
    height: 338px;
}


/*====================================*/
/*===============BOUTON===============*/
/*====================================*/

button {
    background-color: lightblue !important;
    border: 0px !important;
    color: steelblue!important;
}

.text-bouton {
    font-size: 15px;
    margin-top: 10px;
}